<div class="bloco p-5 d-flex flex-column vh-100">
  <div
    class="d-flex border border-5 border-white p-2 h-25 justify-content-end"
  ></div>
  <div
    class="d-flex flex-column justify-content-between border border-5 border-white p-2 h-75"
  >
    <div class="d-flex flex-column p-3">
      <div
        onclick="document.getElementById('radioAtestados').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioAtestados"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioAtestados"
          >ATESTADOS</label
        >
      </div>
      <div
        onclick="document.getElementById('radioDecCurso').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioDecCurso"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioDecCurso"
          >DECLARAÇÃO DE CURSO
        </label>
      </div>
      <div
        onclick="document.getElementById('radioHistEscolar').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioHistEscolar"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioHistEscolar"
          >HISTÓRICO ESCOLAR
        </label>
      </div>
      <div
        onclick="document.getElementById('radioMatrizCurr').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioMatrizCurr"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioMatrizCurr"
          >MATRIZ CURRICULAR
        </label>
      </div>
      <div
        onclick="document.getElementById('radioAjusteHorario').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioAjusteHorario"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioAjusteHorario"
          >AJUSTE DE HORÁRIO
        </label>
      </div>
      <div
        onclick="document.getElementById('radioCalAcademico').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioCalAcademico"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioCalAcademico"
          >CALENDÁRIO ACADÊMICO
        </label>
      </div>
      <div
        onclick="document.getElementById('radioColaGrau').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioColaGrau"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioColaGrau"
          >COLAÇÃO DE GRAU
        </label>
      </div>
      <div
        onclick="document.getElementById('radioContProgramatico').checked = true;"
        class="p-5 fs-2 m-3 my-4 btn-documento form-check text-reset text-decoration-none shadow"
      >
        <input
          class="form-check-input ms-3"
          type="radio"
          name="flexRadio"
          id="radioContProgramatico"
        />
        <label class="ms-5 fw-bold form-check-label" for="radioContProgramatico"
          >CONTEÚDO PROGRAMÁTICO
        </label>
      </div>
    </div>
    <button
      type="button"
      class="m-3 encerrar align-self-start btn fs-2 btn-secondary"
    >
      Encerrar Sessão
    </button>
  </div>
  <footer
    class="d-flex justify-content-between fixed-bottom p-1 justify-content-end fs-3"
  >
    <span>Central de Atendimento: 3003-4030</span>
    <span>Segunda a Sexta-Feira, das 8h às 20h</span>
  </footer>
</div>
