<div class="justify-content-end bloco p-5 d-flex flex-column vh-100">
  <div class="d-flex flex-column border border-5 border-white p-2 h-75">
    <div class="d-flex flex-column p-3">
      <span
        class="quadro align-self-end p-3 border border-dark fs-2 w-50 text-center"
        >Se você esqueceu sua senha, entre no site da sua faculdade e clique em
        Sou Aluno , do lado superior direito da tela. Daí é só clicar em
        "Esqueci Minha Senha" e seguir o passo a passo.
      </span>
      <img src="../assets/img/eduk.png" class="w-50" />
    </div>
  </div>
  <button
    type="button"
    class="m-3 encerrar align-self-start btn fs-2 btn-secondary"
  >
    Encerrar Sessão
  </button>
  <footer
    class="d-flex justify-content-between fixed-bottom p-1 justify-content-end fs-3"
  >
    <span>Central de Atendimento: 3003-4030</span>
    <span>Segunda a Sexta-Feira, das 8h às 20h</span>
  </footer>
</div>
