<div class="p-5">
  <div class="d-flex justify-content-end" style="z-index: 1">
    <span class="p-3 m-5 border border-dark fs-2 w-50 text-center"
      >Olá eu sou o Edu, seu Consultor Virtual. Bem-vindo ao autoatendimento via
      Totem. Escolha abaixo a opção que se enquadra ao seu perfil, para
      seguirmos com o seu atendimento.</span
    >
  </div>
  <img src="../assets/img/eduk.jpeg" class="w-50" />
  <div id="btns_home" class="row justify-content-center mb-5 fs-3">
    <a href="/login" type="button" class="p-4 btn btn-primary w-75"
      >JÁ SOU ALUNO</a
    >
    <a type="button" class="p-4 btn btn-primary w-75"> QUERO SER ALUNO </a>
    <a type="button" class="p-4 btn btn-primary w-75">EX-ALUNO</a>
  </div>
  <footer class="d-flex fixed-bottom p-4 justify-content-end fs-4">
    <a class="text-reset me-3"> Política de Privacidade</a> |
    <a class="text-reset ms-3">Termos & Condições</a>
  </footer>
</div>
